@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tangerine:wght@400;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

main{
    min-height: 100vh;
    background: linear-gradient(to top right, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass{
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border-radius: 2rem;
    display: flex;
    z-index: 2;
    backdrop-filter: blur(2rem);
}

.circle1, .circle2{
    background: white;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3));
    height: 10rem;
    width: 10rem;
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    top: 2%;
    right: 13%;
}

.circle2 {
    bottom: 2%;
    left: 13%;
}

.dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border-radius: 2rem;
}

.pro{
    border-radius: 2rem;
    border: solid white;
    display: flex;
    padding: 0 10px;
    background-color: white;
    font-style: italic;
    color: black;
}

.logo img{
    width: 150px;
    height: 150px;
    border-radius: 2rem;
    transition: 0.7s ease;
}

.logo img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 65%;
}

h3{
    font-size: 1.4em;
}

.google{
    border-radius: 2rem;
    background: linear-gradient(to right bottom, rgba(255,255,255,1), rgba(255,255,255,0.8));
    border: none;
    padding: 4px 15px;
    font-size: 1.1em;
    transition: 0.5s ease;
}

.google:hover{
    transform: scale(1.1);
    cursor: pointer;
}

i{
    font-size: 1.3em;
}

.or{
    font-style: italic;
    margin-top: 20px;
}

input{
    background: linear-gradient(to right bottom, rgba(255,255,255,1), rgba(255,255,255,0.8));
    border-radius: 2rem;
    border: none;
    padding: 10px 20px;
    margin: 10px;
}

ul{
    list-style: none;
}

.sign-in{
    border-radius: 2rem;
    background: linear-gradient(to right bottom, rgba(255,255,255,1), rgba(255,255,255,0.8));
    border: none;
    padding: 10px 40px;
    margin-top: 10px;
    font-size: 1.1em;
    transition: 0.5s ease;
}

.sign-in:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.one{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.two{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

::placeholder{
    font-style: italic ;
}

p{
    margin: -25px;
}

li{
    padding-right: 125px;
}

